/* Main color: #007e75*/
/* Secondary color: #00B1A4*/

html,
body {
  color: #111111;
  background-color: #007e75;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

#container {
    z-index: 15;
    margin: 20px auto 20px auto;
    width: 900px;
    border-radius: 20px;
    background-color: whitesmoke;
    height: 95%;



    /* CSS Grid Structure */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-auto-rows: 15% 75% 10%; */
    grid-template-areas: 
        "a"
        "b"
        "c"
        ;
} 

#title, #b, #c, #d, #e {
  z-index: 8;
  /* border: 1px solid #111; */
}
   
img {
    max-width: 100%;
    height: auto;
}

/* Title */
#title {                                           
    grid-area: a;
    background-color: #00B1A4;
    color: white;
    border-radius: 20px 20px 0px 0px;
    filter: drop-shadow(0px 5px 1.5px rgb(65, 65, 65));                      
}

#title.middle {
    flex-direction: column;
}

#b.right {
    flex-direction: column;
}

#e.left {
    flex-direction: column;
}

h1 {
    font-size: 2.5em;
    font-weight: 1000;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

#title > h2 {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 5px;
}

#e {
    padding: 20px;
    margin-right: 20px;
}

#e h1 {
    letter-spacing: 0;
    font-size: 2em;
    margin-top: 16px;
    margin-bottom: 16px;
}

#b {
    margin-right: 10px;
}

#b > img {
    border-radius: 15px;
    width: 300px;
}

#c {
    grid-area: c;
    padding: 30px 30px 0px 30px;

}

#c h1 {
    letter-spacing: 0px;
}

#c hr {
    border: 2px solid #111;
    border-radius: 5px;
}

#c p {
    font-size: 1.5em;
    font-family: 'Ubuntu Mono', monospace;
}

#superdiv {
    grid-area: b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow-x: auto;
    padding: 0px 25px 0px 25px;
}

#buttons {
    grid-area: c;

}

/* Slider */
.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  

  /* transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative; */
}

#buttons a {
  text-decoration: none;
  border-radius: 50%;
  margin: 0 15px 0 15px;
  position: relative;
}

a:hover {
  font-weight: bolder;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-width: 5px;
    border-radius: 20px;
    background-color: darkgray;
}

::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}

/* Slide */
.slide {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    scroll-snap-align: center;
    padding: 20px;
}


/* Slides */
#slide1 {
    flex-direction: column;
}

#slide2 {
    flex-direction: row;
}

#slide3 {
  flex-direction: row;
}

#slide4 {
  flex-direction: row;
}

#slide5 {
  flex-direction: row;
}

/* Classes */

.middle {                                         
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {                                         
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.left {                                         
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.vl {
    height: 450px;
    width: 5px;
    background-color: #111;
    border-radius: 99px;
    margin: 0 20px;
}

/* Media Queries */


@media (max-width: 480px) {
    #container {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    #title.middle {
        width: auto;
        border-radius: 0;
    }

    img {
        max-width: 80%;
    }

    #slide1 div > #b.right {
        justify-content: center;
        flex-direction: row;
    }

    .slide {
        width: 100%;
        
    }

    [class*="slide"] {
        padding: 0px;
    }

    

    h1 {
        font-size: 6vw;
    }

    #c p {
        font-size: 4vw;
    }

    a {
        font-size: 2.8vw;
    }

    #d, #e {
        display: none;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {

    
    #container {
        width: 90%;
    }

    #title.middle {
        width: auto;
    }

    img {
        max-width: 80%;
    }

    #slide1 div > #b.right {
        justify-content: center;
        flex-direction: row;
    }

    .slide {
        width: 100%;
        
    }

    [class*="slide"] {
        padding: 0px;
    }

    

    h1 {
        font-size: 6vw;
    }

    #c p {
        font-size: 4vw;
    }

    a {
        font-size: 2.8vw;
    }

    #d, #e {
        display: none;
    }
}


/* Google Fonts

font-family: 'Roboto', sans-serif;

*/

/* Full Screen Image

background-image:url(../images/);
background-position: center center;
background-repeat:  no-repeat;
background-attachment: fixed;
background-size:  cover;
background-color: var(--black);

*/

/* Individual Side Box Shadows

top {
  box-shadow: 0px -15px 10px -15px #111;
}

right {
  box-shadow: 15px 0px 10px -15px #111;
}

bottom {
  box-shadow: 0px 15px 10px -15px #111;
}

left {
  box-shadow: -15px 0px 10px -15px #111;
}

*/

/*  Making a Fullscreen Video Background 

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

*/