/* Main color: #007e75*/
/* Secondary color: #00B1A4*/

/****************************************
* Root
****************************************/

:root {
  --gap: 0;
  --container: 100%;


  --font-1: 'Open Sans', sans-serif;
  --font-2: 'Ubuntu Mono', monospace;
  --color-1: ;
  --color-2: ;
  --color-3: ;
  --color-4: ;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-width: 5px;
  border-radius: 20px;
  background-color: darkgray;
}

::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

/****************************************
* Fonts
****************************************/
h1 {
  font-size: 23px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
}

h3 {
  font-weight: normal;
  font-size: 15px;
}

p {
  font-size: 15px;
}

strong {
  font-weight: bolder;
}

/****************************************
* Icon
****************************************/

.icon {
  color: #00B1A4;
}

.linkedin {
  color: #0077B5;
}

.github {
  color: #000000;
}

.phone {
  color: #007C00;
}

.envelope {
  color: #ECC100;
}

/****************************************
* Button
****************************************/

.button {
  background-color: #00B1A4;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  color: white;
}

a.button {
  color: white;
}

.button.linkedin {
  background-color: #0077B5;
}

.button.github {
  background-color: #000000;
}

.button.phone {
  background-color: #007C00;
}

.button.envelope {
  background-color: #ECC100;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/****************************************
* Body, Container
****************************************/
html,
body {
  display: flex;
  flex-direction: column;
  color: #111111;
  background-color: #007e75;
  font-family: var(--font-1);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

.container {
  z-index: 15;
  margin: auto;
  width: var(--container);
  background-color: whitesmoke;
}

/****************************************
* No scrolling
****************************************/

.no-scrolling {
  overflow: hidden !important;
}

/****************************************
* Hidden
****************************************/

.hidden {
  display: none !important;
}

@media (min-width: 576px) {
  .hidden--phone {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden--tablet {
    display: none !important;
  }
}

@media (min-width: 1140px) {
  .hidden--desktop {
    display: none !important;
  }
}

@media (min-width: 1400px) {
  .hidden--widescreen {
    display: none !important;
  }
}

@media (max-width: 575.98px) {
  .visible--phone {
    display: none !important;
  }

  .break-phone {
    display: block;
    visibility: hidden;
    height: 0;
  }
}

@media (max-width: 767.98px) {
  .visible--tablet {
    display: none !important;
  }

  .break-phone {
    display: block;
    visibility: hidden;
    height: 0;
  }
}

@media (max-width: 1139.98px) {
  .visible--desktop {
    display: none !important;
  }

  .break-tablet {
    display: block;
    visibility: hidden;
    height: 0;
  }
}

@media (min-width: 576px) {
  .visible--phone {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .visible--tablet {
    display: block !important;
  }
}

@media (min-width: 1140px) {
  .visible--desktop {
    display: block !important;
  }
}

@media (max-width: 1399.98px) {
  .visible--widescreen {
    display: none !important;
  }

  .break-desktop {
    display: block;
    visibility: hidden;
    height: 0;
  }
}

/****************************************
* a
****************************************/
a {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
}

p a {
  -webkit-user-select: auto; /* Safari */
  user-select: auto; /* Standard syntax */
}

.experience h2 sub,
.about-me a,
a[href]:not(.icon):not(.button) {
  color: #b1000d;
}

.experience h2 sub:hover,
.about-me a:hover,
a[href]:not(.icon):not(.button):hover {
  text-decoration: underline;
}

a i:hover {
  color: rgba(255, 255, 255, 0.7);
}


/****************************************
* lists
****************************************/
ul {
  list-style: disc;
  padding-left: 25px;
}

ul li {
  padding-left: 5px;
}

nav ul,
.nav-buttons ul,
footer ul {
  list-style: none;
  padding: 0;
}

nav ul li,
.nav-buttons ul li,
footer ul li {
  padding: 0;
}

/****************************************
* Grid
****************************************/

.grid {
  display: grid;
  grid-gap: var(--gap);
}

/****************************************
* Grid Columns
****************************************/

.grid.col-1 {
  grid-template-columns: 1fr;
}

.grid.col-1-2 {
  grid-template-columns: 1fr 2fr;
}

.grid.col-1-3 {
  grid-template-columns: 1fr 3fr;
}

.grid.col-2 {
  grid-template-columns: 1fr 1fr;
}

.grid.col-2-1 {
  grid-template-columns: 2fr 1fr;
}

.grid.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid.col-3-1 {
  grid-template-columns: 3fr 1fr;
}

.grid.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid.col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid.col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid.col-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid.col-8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid.col-9 {
  grid-template-columns: repeat(9, 1fr);
}

.grid.col-10 {
  grid-template-columns: repeat(10, 1fr);
}

.grid.col-11 {
  grid-template-columns: repeat(11, 1fr);
}

.grid.col-12 {
  grid-template-columns: repeat(12, 1fr);
}

@media (min-width: 576px) {
  .grid.col-auto-1--phone {
    grid-template-columns: auto 1fr;
  }

  .grid.col-1--phone {
    grid-template-columns: 1fr;
  }

  .grid.col-1-2--phone {
    grid-template-columns: 1fr 2fr;
  }

  .grid.col-1-3--phone {
    grid-template-columns: 1fr 3fr;
  }

  .grid.col-2--phone {
    grid-template-columns: 1fr 1fr;
  }

  .grid.col-2-1--phone {
    grid-template-columns: 2fr 1fr;
  }

  .grid.col-3--phone {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.col-3-1--phone {
    grid-template-columns: 3fr 1fr;
  }

  .grid.col-4--phone {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid.col-5--phone {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid.col-6--phone {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid.col-7--phone {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid.col-8--phone {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid.col-9--phone {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid.col-10--phone {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid.col-11--phone {
    grid-template-columns: repeat(11, 1fr);
  }

  .grid.col-12--phone {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 768px) {
  .grid.col-1--tablet {
    grid-template-columns: 1fr;
  }

  .grid.col-1-auto--tablet {
    grid-template-columns: 1fr auto;
  }

  .grid.col-1-2--tablet {
    grid-template-columns: 1fr 2fr;
  }

  .grid.col-1-3--tablet {
    grid-template-columns: 1fr 3fr;
  }

  .grid.col-2--tablet {
    grid-template-columns: 1fr 1fr;
  }

  .grid.col-2-1--tablet {
    grid-template-columns: 2fr 1fr;
  }

  .grid.col-3--tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.col-3-1--tablet {
    grid-template-columns: 3fr 1fr;
  }

  .grid.col-4--tablet {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid.col-5--tablet {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid.col-6--tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid.col-7--tablet {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid.col-8--tablet {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid.col-9--tablet {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid.col-10--tablet {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid.col-11--tablet {
    grid-template-columns: repeat(11, 1fr);
  }

  .grid.col-12--tablet {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 1140px) {
  .grid.col-1--desktop {
    grid-template-columns: 1fr;
  }

  .grid.col-1-2--desktop {
    grid-template-columns: 1fr 2fr;
  }

  .grid.col-1-3--desktop {
    grid-template-columns: 1fr 3fr;
  }

  .grid.col-2--desktop {
    grid-template-columns: 1fr 1fr;
  }

  .grid.col-2-1--desktop {
    grid-template-columns: 2fr 1fr;
  }

  .grid.col-3--desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.col-3-1--desktop {
    grid-template-columns: 3fr 1fr;
  }

  .grid.col-4--desktop {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid.col-5--desktop {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid.col-6--desktop {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid.col-7--desktop {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid.col-8--desktop {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid.col-9--desktop {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid.col-10--desktop {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid.col-11--desktop {
    grid-template-columns: repeat(11, 1fr);
  }

  .grid.col-12--desktop {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 1400px) {
  .grid.col-1--widescreen {
    grid-template-columns: 1fr;
  }

  .grid.col-1-2--widescreen {
    grid-template-columns: 1fr 2fr;
  }

  .grid.col-1-3--widescreen {
    grid-template-columns: 1fr 3fr;
  }

  .grid.col-2--widescreen {
    grid-template-columns: 1fr 1fr;
  }

  .grid.col-2-1--widescreen {
    grid-template-columns: 2fr 1fr;
  }

  .grid.col-3--widescreen {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid.col-3-1--widescreen {
    grid-template-columns: 3fr 1fr;
  }

  .grid.col-4--widescreen {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid.col-5--widescreen {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid.col-6--widescreen {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid.col-7--widescreen {
    grid-template-columns: repeat(7, 1fr);
  }

  .grid.col-8--widescreen {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid.col-9--widescreen {
    grid-template-columns: repeat(9, 1fr);
  }

  .grid.col-10--widescreen {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid.col-11--widescreen {
    grid-template-columns: repeat(11, 1fr);
  }

  .grid.col-12--widescreen {
    grid-template-columns: repeat(12, 1fr);
  }
}

/****************************************
* Grid/Flex Gap
****************************************/

.gap-0 {
  --gap: 0;
}

.gap-1 {
  --gap: 1rem;
}

.gap-2 {
  --gap: 2rem;
}

.gap-3 {
  --gap: 3rem;
}

.gap-4 {
  --gap: 4rem;
}

.gap-5 {
  --gap: 5rem;
}

.gap-6 {
  --gap: 6rem;
}

@media(min-width: 576px) {
  .gap-0--phone {
    --gap: 0;
  }

  .gap-1--phone {
    --gap: 1rem;
  }

  .gap-2--phone {
    --gap: 2rem;
  }

  .gap-3--phone {
    --gap: 3rem;
  }

  .gap-4--phone {
    --gap: 4rem;
  }

  .gap-5--phone {
    --gap: 5rem;
  }

  .gap-6--phone {
    --gap: 6rem;
  }
}

@media(min-width: 768px) {
  .gap-0--tablet {
    --gap: 0;
  }

  .gap-1--tablet {
    --gap: 1rem;
  }

  .gap-2--tablet {
    --gap: 2rem;
  }

  .gap-3--tablet {
    --gap: 3rem;
  }

  .gap-4--tablet {
    --gap: 4rem;
  }

  .gap-5--tablet {
    --gap: 5rem;
  }

  .gap-6--tablet {
    --gap: 6rem;
  }
}

@media(min-width: 1140px) {
  .gap-0--desktop {
    --gap: 0;
  }

  .gap-1--desktop {
    --gap: 1rem;
  }

  .gap-2--desktop {
    --gap: 2rem;
  }

  .gap-3--desktop {
    --gap: 3rem;
  }

  .gap-4--desktop {
    --gap: 4rem;
  }

  .gap-5--desktop {
    --gap: 5rem;
  }

  .gap-6--desktop {
    --gap: 6rem;
  }
}

@media(min-width: 1400px) {
  .gap-0--widescreen {
    --gap: 0;
  }

  .gap-1--widescreen {
    --gap: 1rem;
  }

  .gap-2--widescreen {
    --gap: 2rem;
  }

  .gap-3--widescreen {
    --gap: 3rem;
  }

  .gap-4--widescreen {
    --gap: 4rem;
  }

  .gap-5--widescreen {
    --gap: 5rem;
  }

  .gap-6--widescreen {
    --gap: 6rem;
  }
}

/****************************************
* Align
****************************************/

.center-all {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: start;
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
  justify-content: flex-end;
}

/****************************************
* Flex
****************************************/

.flex,
.flex-row,
.flex-column {
  display: flex;
  gap: var(--gap);
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

/****************************************
* Padding
****************************************/

.padding {
  --gap: 1rem;

  margin: auto;
  padding: 1.5rem 2rem;
  max-width: var(--container);
}


/****************************************
* Header
****************************************/

.header {
  height: 130px;
  background-color: #00B1A4;
  color: white;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0;
  user-select: none;
}

.header.middle {
  flex-direction: column;
}

.header h1 {
  font-size: 32.5px;
  font-weight: bolder;
  letter-spacing: 2.5px;
}

.header h2 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2.5px;
}

.header a {
  color: white;
}

a.download {
  position: absolute;
  top: 15%;
  right: 10px;
  z-index: 99;
  gap: 0.25rem;
}

a.download:hover {
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
}

/****************************************
* Navigation
****************************************/

.navigation {
  font-size: 13px;
  padding: 0.75rem 0;
  background-color: #a8dadc;
  filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.3));
  overflow: hidden;
}

nav li::after {
  content: '\00B7';
  font-weight: bolder;
  padding: 6px;
}

nav li:last-child::after {
  content: '';
  padding: 0;
}

/****************************************
* Main
****************************************/

.main {
  display: flex;
  height: 600px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  overflow-x: auto;
  margin-top: 2rem;
  padding: 0px 5px 0px 5px;
}

.main h1 {
  letter-spacing: 0;
}

.main hr {
  border: 2px solid #111;
  border-radius: 5px;
}

.headshot > img {
  border-radius: 15px;
  max-width: 200px;
}

.nav-buttons {
  padding: 20px;
  text-align: center;
}

.nav-buttons li {
  margin: 16px 0;
}


/****************************************
* Slider 
****************************************/
.slider {
  height: 95%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider-button {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.05);
}

.slider-button:active {
  background-color: rgba(0, 0, 0, 0.5);
}

.slider-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: bolder;
}

.slider-button.left {
  left: 0;
}

.slider-button.left-max {
  display: none;
}

.slider-button.right {
  right: 0;
}

.slider-button.right-max {
  display: none;
}

.slider-button i {
  color: #007e75;
}

a.on {
  font-weight: bolder;
}

a:not(.button):hover {
  font-weight: bolder;
}

/****************************************
* Slide
****************************************/

.slide {
  width: var(--container);
  max-height: 95%;
  scroll-snap-align: center;
  padding: 0 1rem;
}

.content-title + .content-body {
  margin-top: 1rem;
}

.content-body + .content-title {
  margin-top: 0.5rem;
}

.slide > .content-title {
  padding-right: 10px;
}

.slide > .content-body {
  max-height: 500px;
  overflow-y: scroll;
  padding-right: 10px;
}

/****************************************
* Specific Slides
****************************************/

/* about me */
.slide > .content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 60%;
}

/* Picture Section */
.picture-section a {
  font-size: 22px;
}

/* contact info */

.contact-info i::before {
  font-size: 0.8em;
}

.contact-info a:hover i {
  color: rgba(0, 0, 0, 0.4);
}

/* about me */
.about-me {
  padding: 20px 20px 0 20px;
}

.about-me p {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
}

.content + .content::before {
  content: '';
  display: block;
  border-top: 4px dotted rgba(0, 0, 0, 0.4);
  margin: 1rem auto ;
  width: calc(100% - 25px);
}

/* Company and date */
.company-and-date > h3:nth-child(2) {
  justify-content: flex-start;
}

/* experience */
.experience h2 sub {
  font-size: 15px;
  cursor: pointer;
}

/* skills */
.skills > .content-body {
  text-align: center;
}

/* contact */

.contact > .content {
  height: 570px;
  overflow-y: scroll;
  padding: 2.5px;
}

.contact > .content-body {
  padding-bottom: 1rem;
}

.references p {
  text-align: center;
}

.references .card-header {
  width: 125px;
}

.references img {
  max-width: 125px;
  max-height: 125px;
}

/****************************************
* Card
****************************************/

.card {
  display: flex;
  gap: var(--gap);
  background-color: whitesmoke;
  filter: drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.3));
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

.contact-me .card {
  height: 300px;
  flex-direction: column;
}

.references .card {
  height: 300px;
  flex-direction: column;
}

.card-header,
.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header {
  height: 25%;
  gap: 1rem;
}

.references .card-header {
  height: 120px;
}

.card-body {
  height: 40%;
  padding: 0 1rem;
}

.card-footer {
  height: 10%;
  margin: 0 auto;
}

.card .icon {
  font-size: 40px;
  margin: 0 auto;
}

.vl {
  height: 450px;
  width: 5px;
  background-color: #111;
  border-radius: 99px;
  margin: 0 20px;
}

/****************************************
* Footer
****************************************/

footer,
footer ul {
  width: var(--container);
  color: white;
}

footer .icon {
  color: white;
}

footer.padding {
  padding: 2.5rem 3rem 2.5rem 3rem;
}

/****************************************
* Overlay
****************************************/

.overlay {
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: auto;
}

.close-overlay {
  font-size: 35px;
  cursor: pointer;
}

.download-resume {
  font-size: 15px;
  cursor: pointer;
}

.overlay-wrapper a[href].download-resume:hover,
.overlay-wrapper a[href].download-resume i:hover {
  color:rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.overlay-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 20px 20px 20px 20px;
  z-index: 999;
}

.overlay-wrapper h3 {
  font-size: 11px;
}

.overlay-wrapper iframe {
  margin-top: 1rem;
  align-self: center;
}