/****************************************
* Main
****************************************/

.main {
  height: 700px;
}

.main h1 {
  letter-spacing: 0;
  font-size: 2em;
}

.main hr {
  border: 2px solid #111;
  border-radius: 5px;
}

.headshot > img {
  border-radius: 15px;
}

.nav-buttons {
  text-align: left;
  padding-right: 150px;
}

.nav-buttons li {
  margin: 16px 0;
}

/****************************************
* Fonts
****************************************/

.download-resume {
  font-size: 18px;
}

.overlay-wrapper h3 {
  font-size: 20px;
}

/****************************************
* Slide
****************************************/

.slide > .content {
  max-height: 675px;
}

.slide > .content-body {
  max-height: calc(675px - 50px) /* Height of content-title */;
}

.slide > .content {
  overflow-y: hidden;
}

/****************************************
* Specific Slides
****************************************/

/* about me */


/* education */


/* contact */
.contact .card {
  margin: 0 auto;
}

/* Picture Section */
.picture-section.grid {
  grid-template-columns: 1fr 0.1fr 1fr;
}

/* skills */
.skills > .content-body {
  text-align: left;
}