/****************************************
* Root
****************************************/

:root {
  --container: 1140px;
}

/****************************************
* Container
****************************************/

.container {
  margin: 20px auto 20px auto;
  border-radius: 20px;
}


/****************************************
* Fonts
****************************************/

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.15em;
}

p {
  font-size: 18px;
}

/****************************************
* Header
****************************************/

.header {
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}

.header h1 {
  font-size: 80px;
}

.header h2 {
  font-size: 32.5px;
}

a.download {
  top: 25px;
  right: 20px;
}

/****************************************
* Navigation
****************************************/

.navigation {
  font-size: 22.5px;
  padding: 0.5rem 0;
}

nav li::after {
  padding: 15px;
}

/****************************************
* Main
****************************************/

.main {
  height: 725px;
}

.main h1 {
  letter-spacing: 0;
  font-size: 2em;
}

.main hr {
  border: 2px solid #111;
  border-radius: 5px;
}

.headshot > img {
  border-radius: 15px;
  max-width: 300px;
}
.nav-buttons {
  text-align: left;
  padding-right: 150px;
}

.nav-buttons li {
  margin: 16px 0;
}

/****************************************
* Slider
****************************************/

.slider-button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: opacity .1s ease-in;
}

.slider-button.left {
  left: -75px;
}


.slider-button.left-max {
  display: flex;
  left: -150px;
}

.slider-button.right {
  right:-75px;
}

.slider-button.right-max {
  display: flex;
  right:-150px;
}

.slider-button i {
  color: #007e75;
}

/****************************************
* Slide
****************************************/

.slide {
  padding: 0 6rem;
}

.slide > .content {
  overflow-y: hidden;
}

/****************************************
* Specific Slides
****************************************/

/* about me */

/* Picture Section */
.picture-section.grid {
  grid-template-columns: 1fr 0.1fr 1fr;
}

.picture-section a {
  font-size: 1.8em;
}

/* about me */
.about-me {
  padding: 30px 30px 0px 30px;
}

.about-me p {
  font-size: 23px;
}

/* skills */

/* contact */

/* contact */
.contact .card {
  width: 100%;
  margin: 0;
}

.contact > .content-body {
  padding-bottom: 1rem;
}

.references p {
  text-align: left;
}

.references .card-header {
  width: 125px;
  height: 100%;
}

.references img {
  max-width: 125px;
  max-height: 125px;
}

/****************************************
* Card
****************************************/

.references .card {
  height: 150px;
  padding: 0 1rem;
  flex-direction: row;
}

/****************************************
* Footer
****************************************/

footer.padding {
  padding: 1rem 3rem 6rem 3rem;
}

/****************************************
* Overlay
****************************************/

.overlay-wrapper {
  width: 1000px;
  margin: 2rem auto;
}