/****************************************
* Main
****************************************/

.main {
  height: 700px;
}

.main h1 {
  letter-spacing: 0;
  font-size: 2em;
}

.main hr {
  border: 2px solid #111;
  border-radius: 5px;
}

.headshot > img {
  border-radius: 15px;
}

.nav-buttons {
  text-align: left;
  padding-right: 150px;
}

.nav-buttons li {
  margin: 16px 0;
}

/****************************************
* Specific Slides
****************************************/

/* about me */
#about .content {
  overflow: hidden;
  height: 100%;
}

/* education */
.education > .content {
  height: 100%;
  overflow-y: hidden;
}

/* contact */
.contact .card {
  width: 375px;
  margin: 0 auto;
}

/* Picture Section */
.picture-section.grid {
  grid-template-columns: 1fr 0.1fr 1fr;
}

/* skills */
.skills > .content-body {
  text-align: left;
}